.advantages {
  padding: 0 20px 0 20px;
  background-color: var(--basic-white);
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    padding: 0 30px 0 31px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
    padding: 0 110px 0 106px;
  }
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic-black);
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 94px;
  }
}

.advantages__item {
  padding-left: 80px;

  &:nth-child(1) {
    background-image: url("../img/advantage-group-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  &:nth-child(2) {
    background-image: url("../img/advantage-group-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  &:nth-child(3) {
    background-image: url("../img/advantage-group-3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  &:nth-child(4) {
    background-image: url("../img/advantage-group-4.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-top: 151px;
    max-width: 230px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 230px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item:nth-child(1) {
    background-image: url("../img/1.svg"), url("../img/advantage-group-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 45%;
    background-position: right, left top;
  }

  .advantages__item:nth-child(2) {
    background-image: url("../img/2.svg"), url("../img/advantage-group-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 45%;
    background-position: right, left top;
  }

  .advantages__item:nth-child(3) {
    background-image: url("../img/3.svg"), url("../img/advantage-group-3.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 45%;
    background-position: right, left top;
  }

  .advantages__item:nth-child(4) {
    background-image: url("../img/4.svg"), url("../img/advantage-group-4.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 45%;
    background-position: right, left top;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item:nth-child(1) {
    background-image: url("../img/1.svg"), url("../img/advantage-group-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 45%;
    background-position: right, left top;
  }

  .advantages__item:nth-child(2) {
    background-image: url("../img/2.svg"), url("../img/advantage-group-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 45%;
    background-position: right, left top;
  }

  .advantages__item:nth-child(3) {
    background-image: url("../img/3.svg"), url("../img/advantage-group-3.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 45%;
    background-position: right, left top;
  }

  .advantages__item:nth-child(4) {
    background-image: url("../img/4.svg"), url("../img/advantage-group-4.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 45%;
    background-position: right, left top;
  }
}

.advantages__description {
  margin: 0;
}
