.contacts {
  background-color: #FFFFFF;
}

.contacts__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.contacts__address {
  line-height: 20px;
}
