.control {
  position: relative;
}
.control__radio {
  top: -2px;
  left: -38px;
  position: absolute;
  background-color: var(--basic-white);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
}

.control__checkbox {
  top: -2px;
  left: -40px;
  position: absolute;
  background-color: var(--basic-white);
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
}
