.copyright__link {
  text-decoration: none;

  &:focus {
    outline: none;
  }
  &:active {
    opacity: 30%;
  }
}

.copyright__text {
  color: var(--basic-dark-grey);
  font-size: 16px;
  line-height: 19px;
}

.copyright__logo {
  fill: var(--copyright);

  &:focus {
    fill: var(--basic-green);
    outline: none;
  }

  &:hover {
    fill: var(--basic-green);
  }

  &:active {
    fill: var(--basic-green);
    opacity: 30%;
  }
}
