.copyright__link {
  text-decoration: none;

  &:focus {
    outline: none;
  }
  &:active {
    opacity: 30%;
  }
}

.copyright__text {
  color: #444444;
  font-size: 16px;
  line-height: 19px;
}

.copyright__logo {
  fill: #666666;

  &:focus {
    fill: #68B738;
    outline: none;
  }

  &:hover {
    fill: #68B738;
  }

  &:active {
    fill: #68B738;
    opacity: 30%;
  }
}
