.example-of-usage {
  background-color: #EAEAEA;
}

.example-of-usage__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example-of-usage__text {}

.example-of-usage__item {}

.example-of-usage__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

}

.example-of-usage__description {
  font-size: 12px;
  line-height: 12px;
}
