.example-of-usage {
  background-color: var(--special-grey);
}

.example-of-usage__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic-black);
}

.example-of-usage__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;

}

.example-of-usage__description {
  font-size: 12px;
  line-height: 12px;
}
