.footer {
  background-color: var(--basic-light-grey);
  display: flex;
  flex-direction: column;
  align-content: center;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  fill: var(--logo);

  &:focus {
    fill: var(--logo-hover);
    outline: none;
  }

  &:hover {
    fill: var(--logo-hover);
  }

  &:active {
    fill: var(--logo-active);
  }
}
