.footer {
  background-color: #F2F2F2;
}

.footer__logo {
  fill: #111111;

  &:focus {
    fill: #3E3E3E;
    outline: none;
  }

  &:hover {
    fill: #3E3E3E;
  }

  &:active {
    fill: #6B6B6B;
  }
}
