.form-container {
  background-color: #FFFFFF;
}
.form-container__header {
  color: #111111;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.form-container__text {
  color: #111111;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
}
