.form-container {
  background-color: var(--basic-white);
}
.form-container__header {
  color: var(--special-black);
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.form-container__text {
  color: var(--special-black);
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
}
