.gift {
  background-color: var(--basic-green);
  background-image: url("./img/gift.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.gift__text {
  font-family: "Lato";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-white);
}
