.gift {
  margin-top: 35px;
  background-color: var(--basic-green);
  background-image: url("../img/gift.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  width: 280px;
  height: 289px;

  @media (min-width: @tablet-width) {
    margin-top: 69px;
    width: 707px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    width: 245px;
    height: 289px;
  }
}

.gift::before {
  position: absolute;
  content: "";
  opacity: 85%;
  background-color: var(--basic-green);
  min-width: 280px;
  min-height: 289px;
  left: 0;
  top: 0;
  z-index: -1;

  @media (min-width: @tablet-width) {
    min-width: 720px;
    min-height: 200px;
  }

  @media (min-width: @desktop-width) {
    min-width: 245px;
    min-height: 289px;
  }
}

.gift__text {
  z-index: 1;
  font-family: "Lato";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-white);
  padding: 186px 58px 43px 61px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 71px 124px 69px 422px;
  }

  @media (min-width: @desktop-width) {
    padding: 184px 40px 42px;
  }
}
