.product__list {
  list-style-type: none;
  padding: 0;
}

.product__item {
  outline: auto;
}

.product__link {
  text-decoration: none;
}

.product__name {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #222222;
}

.product__features {
  font-size: 12px;
  line-height: 16px;
}
