.product-line {
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.product-line__list {
  display: grid;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  @media (min-width: @tablet-width) {
    max-width: 720px;
    gap: 30px;
  }
  @media (min-width: @desktop-width) {
    max-width: 960px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.product-line__item {
  background-color: var(--basic-light-grey);
  padding: 13px;
  @media (min-width: @tablet-width) {
    padding: 20px;
  }
  @media (min-width: @desktop-width) {
    padding: 33px;
  }
}

.product-line__title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: var(--basic-black);
}

.product-line__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-black);
}
