.site-list__link {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #000000;
    opacity: 60%;
  }

  &:active {
    color: #000000;
    border-bottom: #68B738 2px solid;
  }

  &:disabled {
    color: #000000;
    opacity: 60%;
  }
}
