.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
}

.social__link {
  text-decoration: none;
  color: var(--basic-dark-grey);

  &:focus {
    fill: var(--basic-green);
    outline: none;
  }

  &:hover {
    fill: var(--basic-green);
  }

  &:active {
    fill: var(--basic-green);
    opacity: 30%;
  }
}
