.social__list {
  list-style-type: none;
  padding: 0;
}

.social__link {
  text-decoration: none;
  color: #444444;

  &:focus {
    fill: #68B738;
    outline: none;
  }

  &:hover {
    fill: #68B738;
  }

  &:active {
    fill: #68B738;
    opacity: 30%;
  }
}
